* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #EFE7FF;
    color: #3A2C4E;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #D6C4F0;
    border-bottom: 2px solid #B8A0E0;
    gap: 15px;
}

.logo img {
    width: 70px;  
    height: auto;
}

header h1 {
    font-size: 22px;
    margin-right: auto;
    font-weight: bold;
    color: #5A3D82;
}

.bloqueado {
    pointer-events: none;
    opacity: 0.5;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 18px;
}

nav ul li a {
    font-size: 14px; 
    font-weight: bold;
    color: #5A3D82;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #181022;
}

/* INICIO */
.inicio {
    text-align: center;
    padding: 25px;
    background: white;
    border-radius: 12px;
    width: 90%;
    max-width: 950px;
    margin: 25px auto;
    box-shadow: 0 0 10px rgba(90, 61, 130, 0.2);
}

.inicio img {
    width: 80%;
    max-width: 900px;
    transition: 0.3s;
}

.inicio img:hover {
    transform: scale(1.02);
    opacity: 0.95;
}
.inicio h2 {
    margin-top: 15px;
    color: #5A3D82;
}

.inicio p {
    width: 70%;
    margin: 10px auto;
    font-size: 16px;
}


.ver {
    display: inline-block;
    margin-top: 15px;
    background-color: #7C5AA5;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.ver:hover {
    transform: scale(1.05);
    background-color: #5A3D82;
}

.MenuPriincipal,
.PromosInicio,
.Postres,
.Ofertas,
.InicioSesion {
    text-align: center;
    margin: 35px 0 10px 0;
    color: #5A3D82;
}

.Navidad,
.bebidasC,
.bebidasF,
.navidad,
.Postre,
.Oferta,
.InicioP {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
}

.Navidad div,
.bebidasC div,
.bebidasF div,
.navidad div,
.Postre div,
.Oferta div,
.InicioP div {
    background: white;
    border: 2px solid #B8A0E0;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0.3s;
}

.Navidad div:hover,
.bebidasC div:hover,
.bebidasF div:hover,
.navidad div:hover,
.Postre div:hover,
.Oferta div:hover,
.InicioP div:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 18px rgba(90, 61, 130, 0.4);
}

.Navidad img,
.bebidasC img,
.bebidasF img,
.navidad img,
.Postre img,
.Oferta img,
.InicioP img {
    width: 100%;
    border-radius: 12px;
    transition: 0.3s;
}

/* FORMULARIO */
.InicioSesion{
    text-align: center;
    padding: 20px;
    color: #5A3D82;
}

.Formulario {
    text-align: center;
    padding: 20px;
}

.Formulario input {
    width: 60%;
    max-width: 350px;
    padding: 10px;
    margin: 10px 0;
    border: solid 1px #7C5AA5;
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    background-color: #7C5AA5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}
.button:hover {
    transform: scale(1.05);
    background-color: #5A3D82;
}

/* FOOTER */
.PiePag {
    background-color: #D6C4F0;
    color: #3A2C4E;
    display: flex;
    gap: 100px; 
    padding: 40px;
    flex: wrap;
    border-top: 3px solid #B8A0E0;
    width: 100%;
}

.PiePag h4 {
    margin-bottom: 8px;
    font-weight: bold;
}

.PiePag p {
    font-size: 14px;
}


.menuh {
    display: none;
    cursor: pointer;
    font-size: 28px;
    color: #5A3D82;
}


/* TABLET */ 
@media (max-width: 1024px) { 
    .Navidad, 
    .bebidasC, 
    .bebidasF, 
    .navidad, 
    .Postre, 
    .Oferta, 
    .InicioP { 
        flex-wrap: wrap;
        justify-content: center; 
    } 
    
    .Navidad div, 
    .bebidasC div, 
    .bebidasF div,
    .navidad div, 
    .Postre div, 
    .Oferta div, 
    .InicioP div {
         width: 45%;
     } 
    .PiePag {
         flex-wrap: wrap; 
         text-align: center; 
    } 
}

/* CELULAR */ 
@media (max-width: 550px) { 

    /* Mostrar el icono hamburguesa */
    .menuh {
        display: block;
        font-size: 30px;
        padding: 10px 15px;
        cursor: pointer;
        color: #333;
    }

    /* Menú oculto por defecto */
    nav ul {
        display: none;
        position: absolute;
        top: 65px; /* debajo del header */
        left: 10px;
        background-color: #fff;
        width: 220px;
        padding: 15px;
        flex-direction: column;
        gap: 10px;
        border-radius: 12px;
        text-align: left;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    }

    /* Cuando el menú está activo */
    nav.ventanas ul {
        display: flex;
    }

    /* Estilo de enlaces */
    nav ul li a {
        color: #5a3d84;
        font-weight: bold;
        font-size: 17px;
        text-decoration: none;
    }

    nav ul li a:hover {
        text-decoration: underline;
    }

    /* Quitar margen del menú horizontal */
    nav ul li {
        margin: 0;
    }



    .Navidad div, 
    .bebidasC div, 
    .bebidasF div, 
    .navidad div, 
    .Postre div, 
    .Oferta div, 
    .InicioP div {
        width: 90%; 
    } 

    .Navidad, 
    .bebidasC, 
    .bebidasF, 
    .navidad, 
    .Postre, 
    .Oferta, 
    .InicioP {
        flex-direction: column; 
        flex: nowrap; 
    }

    .PiePag { 
        flex-direction: column;
        text-align: left; 
        margin: 0;
        gap: 10px; 
    } 
}